.cell
{
  height: 12px;
  width: 12px;
  background-color: black;
}

.snake {
  background-color: white;
}

.head {
  background-color: red;
}

.vegie {
  background-color: green;
}

.button {
  height: 40px;
  width: 80px;
}

.buttonWithText
{
  text-align: center;
  font-family: 'Lucida Sans';
  background-color: lightgoldenrodyellow;
}

.buttonPad
{
  width: 600px;
  background-color: blue;
}

